.Footer {
    background-color: #8B8B8B;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.button {
    text-align: center;
    margin: 0;
    color: white;
    border: solid black;
    background-color: #8B8B8B;
}

.H2 {
    text-align: center;
    margin: 0;
    color: white;
    border: solid black;
}

.page {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}